* {
    box-sizing: border-box;
}

h1 {
  color: darkred  
}
a {
  color: #5a5;
}

html,
body {
    margin: 0;
    padding: 15px;
}

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px;
    border: 1px solid #aa5;
    border-radius: 10px;
    gap: 10px;
    background: linear-gradient(#a8ff6f 40%, #7af9bc 100%);
}



#left {
    
    height: 100%
}

#right {
    height: 100%;
    width: 100%;
}


.oval {
    background-color: #ff8;
    border: 1px solid #aa5;
    border-radius: 10px;
    padding: 15px;
    height: 100%;
}

.site {
    width: 50%;
    border: 3px solid #aa5;
    border-radius: 25px;
    padding: 8px;
    background-color: white;
    margin: 30px;
    animation: swing 4s ease-in-out infinite;
}

.solf {
    animation: swing 3.5s ease-in-out infinite;
    margin-left:100px;
}

.personal {
    animation: swing 5.5s ease-in-out infinite;
    margin-left: 250px;
}

@keyframes swing {
    0% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(50px);
    }
}